<nav>

	<div>Introduction</div>
	<LinkTo @route="index">Setup</LinkTo>
	<LinkTo @route="config">Config</LinkTo>
	<LinkTo @route="styling">Styling</LinkTo>

	<div>Guides</div>
	<LinkTo @route="guides.pwas">PWAs</LinkTo>
	<LinkTo @route="guides.building">Building</LinkTo>
	<LinkTo @route="guides.electron">Electron</LinkTo>
	<LinkTo @route="guides.fastboot">Fastboot</LinkTo>

	<div>Services</div>
	<section show={{begs-with (route-name) "services"}}>
		<LinkTo @route="services.clock">Clock</LinkTo>
		<LinkTo @route="services.electron">Electron</LinkTo>
		<LinkTo @route="services.internet">Internet</LinkTo>
		<LinkTo @route="services.location">Location</LinkTo>
		<LinkTo @route="services.metrics">Metrics</LinkTo>
		<LinkTo @route="services.storage">Storage</LinkTo>
		<LinkTo @route="services.update">Update</LinkTo>
		<LinkTo @route="services.worker">Worker</LinkTo>
	</section>

	<div>Libraries</div>
	<section show={{begs-with (route-name) "libraries"}}>
		<LinkTo @route="libraries.apexcharts">apexcharts.js</LinkTo>
		<LinkTo @route="libraries.chart">chart.js</LinkTo>
		<LinkTo @route="libraries.codemirror">codemirror.js</LinkTo>
		<LinkTo @route="libraries.mapbox-gl">mapbox-gl.js</LinkTo>
		<LinkTo @route="libraries.marked">marked.js</LinkTo>
		<LinkTo @route="libraries.moment">moment.js</LinkTo>
		<LinkTo @route="libraries.sheet">sheet.js</LinkTo>
		<LinkTo @route="libraries.stripe">stripe.js</LinkTo>
	</section>

	<div>Elements</div>
	<section show={{begs-with (route-name) "elements"}}>
		<LinkTo @route="elements.contextmenu">Contextmenu</LinkTo>
		<LinkTo @route="elements.dropdown">Dropdown</LinkTo>
		<LinkTo @route="elements.droppable">Droppable</LinkTo>
		<LinkTo @route="elements.editable">Editable</LinkTo>
		<LinkTo @route="elements.iframe">Iframe</LinkTo>
		<LinkTo @route="elements.gravatar">Gravatar</LinkTo>
		<LinkTo @route="elements.gridlist">Gridlist</LinkTo>
		<LinkTo @route="elements.initials">Initials</LinkTo>
		<LinkTo @route="elements.image">Image</LinkTo>
		<LinkTo @route="elements.input">Input</LinkTo>
		<LinkTo @route="elements.label">Label</LinkTo>
		<LinkTo @route="elements.link">Link</LinkTo>
		<LinkTo @route="elements.modal">Modal</LinkTo>
		<LinkTo @route="elements.select">Select</LinkTo>
		<LinkTo @route="elements.social">Social</LinkTo>
		<LinkTo @route="elements.tooltip">Tooltip</LinkTo>
		<LinkTo @route="elements.webview">Webview</LinkTo>
	</section>

	<div>Helpers</div>
	<section show={{begs-with (route-name) "helpers"}}>
		<LinkTo @route="helpers.arrays">Arrays</LinkTo>
		<LinkTo @route="helpers.dom">Dom</LinkTo>
		<LinkTo @route="helpers.events">Events</LinkTo>
		<LinkTo @route="helpers.format">Format</LinkTo>
		<LinkTo @route="helpers.keyboard">Keyboard</LinkTo>
		<LinkTo @route="helpers.logic">Logic</LinkTo>
		<LinkTo @route="helpers.maths">Maths</LinkTo>
		<LinkTo @route="helpers.promise">Promise</LinkTo>
		<LinkTo @route="helpers.routing">Routing</LinkTo>
		<LinkTo @route="helpers.strings">Strings</LinkTo>
	</section>

</nav>