app-input-stars {
	display:inline-block;
}

app-input-stars div {
	float:left;
	width:18px;
	height:17px;
	display:block;
	margin-right:3px;
}

app-input-stars div:last-of-type {
	margin-right:0;
}

app-input-stars div[selected="true"] {
	opacity:1.0;
}

app-input-stars div[selected="false"] {
	opacity:0.8;
}

app-input-stars div[selected="true"] polygon {
	fill:var(--link-color, #444);
	stroke:var(--link-color, #444);
}

app-input-stars div[selected="false"] polygon {
	fill:none;
	stroke:var(--link-color, #444);
}
