*, *:before, *:after {

	margin:0;
	padding:0;
	outline:none;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;

	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none;

}

break {
	border:0;
	margin:0;
	padding:0;
	height:8px;
	display:block;
}

clear {
	border:0;
	margin:0;
	padding:0;
	clear:both;
	display:block;
}

clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

a, a i, a span {
	cursor:pointer;
	text-decoration:none;
	color:var(--link-color);
}

a:hover, a i:hover, a span:hover {
	cursor:pointer;
	text-decoration:none;
	color:var(--hover-color);
}

[draggable=true] {
	-webkit-user-drag:element;
	-moz-user-drag:element;
	-ms-user-drag:element;
	-o-user-drag:element;
	user-drag:element;
}

input, textarea, pre, code, [selectable], [contenteditable] {
	cursor:text;
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	-o-user-select:text;
	user-select:text;
}

input *, textarea *, pre *, code *, [selectable] *, [contenteditable] * {
	cursor:text;
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	-o-user-select:text;
	user-select:text;
}
