app-pdf {
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	display:block;
	position:absolute;
}

/*
--------------------------------------------------
-- Thumbs
--------------------------------------------------
*/

app-pdf app-pdf-icons {
	top:0;
	left:0;
	bottom:0;
	width:200px;
	margin:auto;
	display:flex;
	overflow:auto;
	position:absolute;
	align-items:center;
	flex-direction:column;
	padding:30px 15px 30px 15px;
	border-right:1px solid #eeeeee;
}

@media only screen and (max-width: 1200px) {
	app-pdf app-pdf-icons {
		width:150px;
	}
}

app-pdf app-pdf-icons app-pdf-icon {
	width:70%;
	height:auto;
	display:block;
	cursor:pointer;
	font-size:30px;
	font-weight:700;
	position:relative;
	border:1px solid #eeeeee;
	margin:0 auto 30px auto;
}

app-pdf app-pdf-icons app-pdf-icon num {
	margin:0;
	z-index:10;
	width:100%;
	height:100%;
	color:white;
	display:flex;
	position:absolute;
	align-items:center;
	pointer-events:none;
	flex-direction:column;
	justify-content:center;
	text-shadow:black 0px 0px 3px;
}

app-pdf app-pdf-icons app-pdf-icon canvas {
	margin:0;
	width:100%;
	display:block;
	position:relative;
	pointer-events:none;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.25);
}

/*
--------------------------------------------------
-- Viewer
--------------------------------------------------
*/

app-pdf app-pdf-pages {
	top:0;
	right:0;
	bottom:0;
	left:200px;
	margin:auto;
	overflow:auto;
	position:absolute;
	padding:30px 30px 30px 30px;
}

@media only screen and (max-width: 1200px) {
	app-pdf app-pdf-pages {
		left:150px;
	}
}

app-pdf app-pdf-pages app-pdf-page {
	display:block;
	overflow:visible;
	position:relative;
	margin:0 auto 30px auto;
}

app-pdf app-pdf-pages app-pdf-page:first-of-type {
	margin-top:0;
}

app-pdf app-pdf-pages app-pdf-page:last-of-type {
	margin-bottom:0;
}

app-pdf app-pdf-pages app-pdf-page text {
	display:block;
	position:absolute;
	background:transparent;
}

app-pdf app-pdf-pages app-pdf-page text * {
	cursor:text;
	white-space:pre;
	user-select:text;
	color:transparent;
	position:absolute;
	transform-origin:0% 0%;
}

app-pdf app-pdf-pages app-pdf-page canvas {
	padding:0;
	margin:auto;
	display:block;
	max-width:100%;
	background:white;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);
}
