app-pdf {
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	display:block;
	position:absolute;
}

/*
--------------------------------------------------
-- Thumbs
--------------------------------------------------
*/

app-pdf app-pdf-icons {
	top:0;
	left:0;
	bottom:0;
	width:200px;
	margin:auto;
	display:flex;
	overflow:auto;
	flex-wrap:nowrap;
	position:absolute;
	align-items:center;
	flex-direction:column;
	padding:30px 0 30px 0;
	border-right:1px solid #eeeeee;
}

app-pdf app-pdf-icons:before {
	content:'';
	margin:auto;
}

app-pdf app-pdf-icons:after {
	content:'';
	margin:auto;
}

app-pdf app-pdf-icons app-pdf-icon {
	width:70%;
	height:auto;
	display:flex;
	max-width:90px;
	cursor:pointer;
	font-size:24px;
	font-weight:700;
	position:relative;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	border:1px solid #eeeeee;
	margin:15px auto 15px auto;
}

app-pdf app-pdf-icons app-pdf-icon num {
	margin:0;
	z-index:10;
	display:flex;
	position:absolute;
	align-items:center;
	pointer-events:none;
	flex-direction:column;
	justify-content:center;
}

app-pdf app-pdf-icons app-pdf-icon canvas {
	margin:0;
	width:100%;
	display:block;
	position:relative;
	pointer-events:none;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.25);
}

/*
--------------------------------------------------
-- Viewer
--------------------------------------------------
*/

app-pdf app-pdf-pages {
	top:0;
	right:0;
	bottom:0;
	left:200px;
	margin:auto;
	display:flex;
	overflow:auto;
	flex-wrap:nowrap;
	position:absolute;
	align-items:center;
	flex-direction:column;
}

app-pdf app-pdf-pages:before {
	content:'';
	margin:auto;
}

app-pdf app-pdf-pages:after {
	content:'';
	margin:auto;
}

app-pdf app-pdf-pages app-pdf-page {
	display:flex;
	align-items:center;
	justify-content:center;
}

app-pdf app-pdf-pages app-pdf-page canvas {
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:0;
	margin:auto;
	display:block;
	background:white;
	margin:75px auto 75px auto;
	max-width:calc(100% - 50px);
	max-height:calc(100% - 50px);
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);
}
