<h1>codemirror.js elements</h1>

<h2>Coder</h2>

<Example @name="demo-libraries-codemirrorjs-coder.hbs">
	<Ascua::Codemirror @value={{this.value}} @onChange={{action (mut this.value)}} />
</Example>

<Example @name="demo-libraries-codemirrorjs-coder-view.hbs">
	{{this.value}}
</Example>