<h1>codemirror.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-codemirrorjs-install.bash">
	ember install @ascua/codemirror.js
</Example>

<h2>Configuration</h2>

<p>The module can be configured by specifying a <code>codemirror</code> property in <code>config/environment.js</code>.</p>

<Example @name="demo-libraries-codemirrorjs-environment.js">
	module.exports = function(environment) {
		let ENV = {
			codemirror: {
				includeTags: true,
				includeComments: true,
				includeBrackets: true,
				includeWhitespace: true,
				modes: ["htmlmixed", "css",  "sass",  "javascript",  "markdown",  "handlebars"],
				themes: ["base16-dark", "base16-light", "bespin", "dracula", "eclipse"],
			}
		};
		return ENV;
	};
</Example>