:root {
	--system-fonts: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--background-checkmark-l: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="300px" height="250px" viewBox="0 0 300 250"><polygon fill="%23ffffff" points="8 141.390928 40.9332831 108.457645 103.034534 170.558896 258.593429 15 292.083189 48.4897596 104.071567 236.501382"></polygon></svg>');
	--background-checkmark-d: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="300px" height="250px" viewBox="0 0 300 250"><polygon fill="%23333333" points="8 141.390928 40.9332831 108.457645 103.034534 170.558896 258.593429 15 292.083189 48.4897596 104.071567 236.501382"></polygon></svg>');
}

app-dropdown {
	max-width:100%;
	position:relative;
	display:inline-block;
}

app-dropdown > label {
	overflow:hidden;
	max-width:inherit;
	align-items:center;
	white-space:nowrap;
	display:inline-block;
	vertical-align:bottom;
	text-overflow:ellipsis;
}

app-dropdown > label svg {
	width:14px;
	height:auto;
	cursor:pointer;
	vertical-align:middle;
}

app-dropdown > label svg polygon {
	cursor:pointer;
	fill:currentColor;
}

app-dropdown > label:hover {
	cursor:pointer;
	color:var(--hover-color, #00BFFF);
}

app-dropdown > label:hover svg {
	cursor:pointer;
	fill:currentColor;
}

app-dropdown > label:hover svg polygon {
	fill:currentColor;
}

app-dropdown[minimal] > label svg {
	display:none;
}

app-dropdown[multiline] > label {
	white-space:normal;
}

app-dropdown[disabled] > label {
	color:inherit;
	cursor:default;
	background:none;
}

app-dropdown > app-dropdown-setup {
	display:none;
}

app-dropdown-popup {
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:fixed;
	z-index:2147483646;
}

app-dropdown-popup > app-dropdown-cover {
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	display:block;
	position:fixed;
	overflow:visible;
}

app-dropdown-popup > app-dropdown-front {
	margin:0;
	z-index:2;
	display:block;
	cursor:pointer;
	overflow-y:auto;
	overflow-x:hidden;
	min-width:100px;
	max-width:560px;
	max-height:500px;
	position:absolute;
	padding:4px 0 4px 0;
	border-radius:5px;
	backdrop-filter:blur(20px);
	-webkit-backdrop-filter:blur(20px);
	background:rgba(255, 255, 255, 0.6);
	border:1px solid rgba(175, 175, 175, 0.3);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
	app-dropdown-popup > app-dropdown-front {
		background:rgba(50, 50, 50, 0.8);
		border:1px solid rgba(0, 0, 0, 0.3);
	}
}

@media (prefers-color-scheme: light) {
	app-dropdown-popup > app-dropdown-front {
		background:rgba(255, 255, 255, 0.8);
		border:1px solid rgba(175, 175, 175, 0.3);
	}
}

app-dropdown-popup > app-dropdown-front input:not([type=checkbox]) {
	width:100%;
	border:none;
	color:#333333;
	font-size:14px;
	line-height:1.5;
	margin-bottom:3px;
	padding:2px 25px 6px 25px;
	background-color:transparent;
	font-family:var(--system-fonts);
	border-bottom:1px solid rgba(200, 200, 200, 0.6);
}

@media (prefers-color-scheme: dark) {
	app-dropdown-popup > app-dropdown-front input:not([type=checkbox]) {
		color:#ffffff;
		border-bottom:1px solid rgba(100, 100, 100, 0.6);
	}
}

@media (prefers-color-scheme: light) {
	app-dropdown-popup > app-dropdown-front input:not([type=checkbox]) {
		color:#333333;
		border-bottom:1px solid rgba(200, 200, 200, 0.6);
	}
}

app-dropdown-popup > app-dropdown-front app-dropdown-option {
	margin:0;
	padding:0;
	color:#333333;
	display:block;
	font-size:14px;
	line-height:1.5;
	overflow:hidden;
	position:relative;
	white-space: nowrap;
	text-decoration:none;
	padding:2px 25px 2px 25px;
	font-family:var(--system-fonts);
}

@media (prefers-color-scheme: dark) {
	app-dropdown-popup > app-dropdown-front app-dropdown-option {
		color:#ffffff;
	}
}

@media (prefers-color-scheme: light) {
	app-dropdown-popup > app-dropdown-front app-dropdown-option {
		color:#333333;
	}
}

app-dropdown-popup > app-dropdown-front app-dropdown-option:hover {
	color:#ffffff;
	cursor:pointer;
	background-color:var(--accent-color, #187aee);
}

@media (prefers-color-scheme: dark) {
	app-dropdown-popup > app-dropdown-front app-dropdown-option:hover {
		background-color:var(--accent-color, #187aee);
	}
}

@media (prefers-color-scheme: light) {
	app-dropdown-popup > app-dropdown-front app-dropdown-option:hover {
		background-color:var(--accent-color, #187aee);
	}
}

app-dropdown-popup > app-dropdown-front app-dropdown-option[selected] {
	background-size:15px auto;
	background-repeat:no-repeat;
	background-position:5px center;
	background-color:rgba(255,255,255,0.25);
	background-image:var(--background-checkmark-d);
}

@media (prefers-color-scheme: dark) {
	app-dropdown-popup > app-dropdown-front app-dropdown-option[selected] {
		background-color:rgba(255,255,255,0.05);
		background-image:var(--background-checkmark-l);
	}
}

@media (prefers-color-scheme: light) {
	app-dropdown-popup > app-dropdown-front app-dropdown-option[selected] {
		background-color:rgba(255,255,255,0.25);
		background-image:var(--background-checkmark-d);
	}
}

app-dropdown-popup > app-dropdown-front app-dropdown-option[selected]:hover {
	background-color:var(--accent-color, #187aee);
	background-image:var(--background-checkmark-l);
}

app-dropdown-popup > app-dropdown-front app-dropdown-group {
	margin:0;
	padding:0;
	display:block;
}

app-dropdown-popup > app-dropdown-front app-dropdown-group:not(:first-child) {
	margin-top:4px;
	border-top:1px solid rgba(200, 200, 200, 0.6);
}

@media (prefers-color-scheme: dark) {
	app-dropdown-popup > app-dropdown-front app-dropdown-group:not(:first-child) {
		border-top:1px solid rgba(100, 100, 100, 0.6);
	}
}

@media (prefers-color-scheme: light) {
	app-dropdown-popup > app-dropdown-front app-dropdown-group:not(:first-child) {
		border-top:1px solid rgba(200, 200, 200, 0.6);
	}
}

app-dropdown-popup > app-dropdown-front input + app-dropdown-group:not(:first-child) {
	margin:0;
	border:none;
}

app-dropdown-popup > app-dropdown-front app-dropdown-group > label {
	margin:0;
	padding:0;
	color:#888888;
	display:block;
	font-size:10pt;
	line-height:1.5;
	overflow:hidden;
	white-space:nowrap;
	text-decoration:none;
	padding:4px 30px 4px 25px;
	font-family:var(--system-fonts);
}

@media (prefers-color-scheme: dark) {
	app-dropdown-popup > app-dropdown-front app-dropdown-group > label {
		color:#969696;
	}
}

@media (prefers-color-scheme: light) {
	app-dropdown-popup > app-dropdown-front app-dropdown-group > label {
		color:#888888;
	}
}

app-dropdown-popup > app-dropdown-front app-dropdown-group app-dropdown-option {
	padding:2px 45px 2px 35px;
}

app-dropdown-popup > app-dropdown-front app-dropdown-group app-dropdown-option[selected] {
	background-position:10px center;
}


app-dropdown-popup > app-dropdown-front input:not(:placeholder-shown) ~ app-dropdown-option:not([filtered]) {
	display:none;
}

app-dropdown-popup > app-dropdown-front input:not(:placeholder-shown) ~ app-dropdown-group {
	margin:0;
	border:none;
}

app-dropdown-popup > app-dropdown-front input:not(:placeholder-shown) ~ app-dropdown-group > label {
	display:none;
}

app-dropdown-popup > app-dropdown-front input:not(:placeholder-shown) ~ app-dropdown-group app-dropdown-option:not([filtered]) {
	display:none;
}
