<h1>quill.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-quilljs-install.bash">
	ember install @ascua/quill.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-quilljs-import.js">
	import Quill from 'quill';
</Example>