<h1>stripe.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-stripejs-install.bash">
	ember install @ascua/stripe.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-stripejs-import.js">
	import Stripe from 'stripe';
</Example>

<h2>Instance</h2>

<p>In order to use the <a href="https://stripe.com/docs/js" target="_blank" rel="noopener noreferrer">Stripe API</a>, you must instantiate the Stripe module with your API key. Alternatively you can import directly from <code>@ascua/stripe.js</code> to use a pre-instantiated Stripe API object.</p>

<Example @name="demo-libraries-stripejs-instance.js">
	import stripe from '@ascua/stripe.js';
</Example>

<h2>Configuration</h2>

<p>The module can be configured by specifying a <code>stripe</code> property in <code>config/environment.js</code>.</p>

<Example @name="demo-libraries-stripejs-environment.js">
	module.exports = function(environment) {
		let ENV = {
			stripe: {
				publishableKey: "pk_SGryXYpfqh14iYO7YdFKQVhf"
			}
		};
		return ENV;
	};
</Example>