// ------------------------------
// Style
// ------------------------------

[font-bold] {
	font-weight:bold;
}

[font-italic] {
	font-style:italic;
}

[font-underline] {
	text-decoration:underline;
}

// ------------------------------
// Alignment
// ------------------------------

[text-l], [text-left] {
	text-align:left;
}

[text-c], [text-center], [text-centre] {
	text-align:center;
}

[text-r], [text-right] {
	text-align:right;
}

// ------------------------------
// Font size
// ------------------------------

@for $i from 8 through 30 {
	[font-#{$i}] { font-size:#{$i}px; }
	[line-#{$i}] { line-height:#{$i}px; }
}


