// ------------------------------
// Alignment
// ------------------------------

.text-l, [text-l], [text-left] {
	text-align:left;
}

.text-c, [text-c], [text-center] {
	text-align:center;
}

.text-r, [text-r], [text-right] {
	text-align:right;
}

// ------------------------------
// Style
// ------------------------------

.text-italic, [text-italic] {
	font-style:italic;
}

.text-lowercase, [text-lowercase] {
	text-transform:lowercase;
}

.text-uppercase, [text-uppercase] {
	text-transform:uppercase;
}

.text-capitalize, [text-capitalize] {
	text-transform:capitalize;
}

.text-underline, [text-underline] {
	text-decoration:underline;
}

// ------------------------------
// Weight
// ------------------------------

.font-light, [font-light] {
	font-weight:300;
}

.font-normal, [font-normal] {
	font-weight:400;
}

.font-medium, [font-medium] {
	font-weight:500;
}

.font-semibold, [font-semibold] {
	font-weight:600;
}

.font-bold, [font-bold] {
	font-weight:700;
}

// ------------------------------
// Font size
// ------------------------------

@for $i from 8 through 30 {
	.font-#{$i}, [font-#{$i}] { font-size:#{$i}px; }
	.line-#{$i}, [line-#{$i}] { line-height:#{$i}px; }
}
