app-uploader {
	width:100%;
	height:100%;
	display:block;
	cursor:pointer;
	position:relative;
}

app-uploader * {
	pointer-events:none;
}

app-uploader input {
	display:none;
}

app-uploader[dropping]:after {
	outline:3px dashed rgb(145, 255, 91);
}

app-uploader:hover:after, app-uploader[dropping]:after {
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	content:"";
	display:block;
	position:absolute;
	pointer-events:none;
	outline-offset:-5px;
}
