<h1>sortable.js elements</h1>

<h2>Elements</h2>

<p>Render a sortable list, and specify the options using the <code>options</code> argument. For more information on the available options, view the <a href="https://github.com/SortableJS/Sortable#options" target="_blank" rel="noopener noreferrer">documentation</a>.</p>

<Example @name="demo-libraries-sortablejs-elements.hbs">
	<Ascua::Sortable @options={{hash animation=150}}>
		<div>1</div>
		<div>2</div>
		<div>3</div>
	</Ascua::Sortable>
</Example>