<h1>Fastboot</h1>

<p>Server side rendering is supported by installing the <code>@ascua/fastboot</code> package. The package will install the necessary dependencies to support server side rendering, and will create an <code>index.js</code> file for running the application on Google Cloud Functions.</p>

<Example @name="demo-guides-fastboot-install.bash">
	ember install @ascua/fastboot
</Example>

<h2>Configuration</h2>

<p>The module can be configured by specifying a <code>csp</code> property in <code>config/environment.js</code>.</p>

<Example @name="demo-guides-fastboot-environment.js">
	module.exports = function(environment) {
		let ENV = {
			CSP: {
				report: true,
				policy: {
					'default-src': ["'none'"],
					'img-src': ["'self'"],
					'style-src': ["'self'"],
					'script-src': ["'self'"],
					'connect-src': ["'self'"],
					'block-all-mixed-content': null,
				},
			}
		};
		return ENV;
	};
</Example>