<h1>Webapps</h1>

<p>Progressive Web App support is provided in the <code>@ascua/webapp</code> package. The package automatically generates a <code>webmanifest</code> and a <code>browserconfig</code> file, along with icons, tile images, and launch images for all browsers, devices, and platforms.</p>

<h2>Install</h2>

<Example @name="demo-guides-pwas-install.bash">
	ember install @ascua/webapp
</Example>

<h2>Configuration</h2>

<p>The module can be configured by specifying a <code>webapp</code> property in <code>config/environment.js</code>.</p>

<Example @name="demo-guides-pwas-environment.js">
	module.exports = function(environment) {
		let ENV = {
			webapp: {
				background: '#ffffff',
				color: '#000000',
				description: '',
				display: 'standalone',
				enabled: true,
				mask: '#999999',
				name: '',
				orientation: 'portrait',
				scope: '/',
				short: '',
				start: '/',
				style: 'default',
			}
		};
		return ENV;
	};
</Example>

<h2>Asset generation</h2>

<p>All icons and images for the different browsers and devices are generated automatically from a few base images.</p>

<p>To build and deploy the necessary progressive web application icons and launch images, you must ensure that you have created the necessary image files and placed them in the correct folder within your application.</p>

<h3>Icon images</h3>

<ul>
	<li><p><code>public / static / webapp / icon.png</code> (Used for generating app icons)</p></li>
	<li><p><code>public / static / webapp / icon.svg</code> (Used for Safari pinned tab icons)</p></li>
	<li><p><code>public / static / webapp / tile.png</code> (Used for Windows pinned app tiles)</p></li>
</ul>

<h3>Launch images</h3>

<ul>
	<li><p><code>public / static / webapp / launch-640x1136.png</code></p></li>
	<li><p><code>public / static / webapp / launch-750x1294.png</code></p></li>
	<li><p><code>public / static / webapp / launch-1125x2436.png</code></p></li>
	<li><p><code>public / static / webapp / launch-1242x2148.png</code></p></li>
	<li><p><code>public / static / webapp / launch-1536x2048.png</code></p></li>
	<li><p><code>public / static / webapp / launch-1668x2224.png</code></p></li>
	<li><p><code>public / static / webapp / launch-2048x2732.png</code></p></li>
</ul>