:root {
	--system-font:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

right-click {
	display:block;
}

right-click:after {
	clear:both;
	content:"";
	display:table;
}

right-click[inline] {
	display:inline-block;
}

context-menu {
	width:auto;
	height:auto;
	display:none;
	position:fixed;
	z-index:2147483647;
	border-radius: 5px;
	border-style:solid;
	padding:5px 0 5px 0;
	border-color:#cccccc;
	font-family:var(--system-font);
	background-color:rgba(255, 255, 255, 0.95);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

context-menu:before {
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
	content:'';
	display:block;
	border-radius:5px;
	position:absolute;
	-webkit-backdrop-filter:blur(20px);
	backdrop-filter:blur(20px);
}

context-menu:empty {
	display:none;
}

context-menu[enabled] {
	display:block;
	border-width:1px;
}

@media (prefers-color-scheme: dark) {
	context-menu {
		border-color:#000000;
		background:rgba(46, 46, 46, 0.95);
	}
}

@media (prefers-color-scheme: light) {
	context-menu {
		border-color:#cccccc;
		background:rgba(255, 255, 255, 0.95);
	}
}

context-menu-item[type='separator'] {
	width:100%;
	display:none;
	cursor:default;
	margin:5px 0 5px 0;
	pointer-events:none;
	border-bottom:2px solid #e6e6e6;
}

context-menu-item[type='separator'][visible] {
	display:block;
}

@media (prefers-color-scheme: dark) {
	context-menu-item[type='separator'] {
		border-bottom:2px solid #444444;
	}
}

@media (prefers-color-scheme: light) {
	context-menu-item[type='separator'] {
		border-bottom:2px solid #e6e6e6;
	}
}

@media not all and (min-resolution:.001dpcm) {
	@supports (-webkit-appearance:none) {
		context-menu {
			background:rgba(255, 255, 255, 0.7);
		}
		@media (prefers-color-scheme: dark) {
			context-menu {
				background:rgba(46, 46, 46, 0.7);
			}
		}
		@media (prefers-color-scheme: light) {
			context-menu {
				background:rgba(255, 255, 255, 0.7);
			}
		}
	}
}

context-menu-item[type='normal'],
context-menu-item[type='checkbox'],
context-menu-item[type='radio'] {
	margin:0;
	padding:0;
	display:none;
	color:#bebebe;
	font-size:14px;
	overflow:hidden;
	line-height:1.5;
	white-space:nowrap;
	text-decoration:none;
	text-overflow:ellipsis;
	padding:2px 30px 2px 25px;
	background-repeat:no-repeat;
	background-position:5px 2px;
}

context-menu-item[type='normal'][visible] {
	display:block;
}

context-menu-item[type='checkbox'][visible] {
	display:block;
}

context-menu-item[type='radio'][visible] {
	display:block;
}

@media (prefers-color-scheme: dark) {
	context-menu-item {
		color:#4f4f4f;
	}
}

@media (prefers-color-scheme: light) {
	context-menu-item {
		color:#bebebe;
	}
}

context-menu-item[checked] {
	background-size:15px auto;
	background-repeat:no-repeat;
	background-position:6px 5px;
	background-image:var(--background-checkmark-d);
}

@media (prefers-color-scheme: dark) {
	context-menu-item[checked] {
		background-image:var(--background-checkmark-l);
	}
}

@media (prefers-color-scheme: light) {
	context-menu-item[checked] {
		background-image:var(--background-checkmark-d);
	}
}

context-menu-item[enabled] {
	color:#434343;
}

context-menu-item:not([enabled]) {
	opacity:0.5;
}

@media (prefers-color-scheme: dark) {
	context-menu-item[enabled] {
		color:#ffffff;
	}
}

@media (prefers-color-scheme: light) {
	context-menu-item[enabled] {
		color:#434343;
	}
}

context-menu-item[enabled]:hover {
	color:#ffffff;
	cursor:pointer;
	background-color:var(--default-highlight, #187aee);
}

@media (prefers-color-scheme: dark) {
	context-menu-item[enabled]:hover {
		color:#ffffff;
	}
}

@media (prefers-color-scheme: light) {
	context-menu-item[enabled]:hover {
		color:#ffffff;
	}
}
