<h1>Building</h1>

<h2>Html minification</h2>

<Example @name="demo-guides-building-install-minify.bash">
	ember install @ascua/minify
</Example>

<h2>Image minification</h2>

<Example @name="demo-guides-building-install-images.bash">
	ember install @ascua/images
</Example>