<h1>Fastboot</h1>

<p>Server side rendering is supported by installing the <code>@ascua/fastboot</code> package. The package will install the necessary dependencies to support server side rendering, and will create an <code>index.js</code> file for running the application on Google Cloud Functions.</p>

<Example @name="demo-guides-building-install-fastboot.bash">
	ember install @ascua/fastboot
</Example>