:root {
	--system-fonts: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

app-tooltip {
	opacity:0;
	color:white;
	display:block;
	font-size:14px;
	position:fixed;
	visibility:hidden;
	z-index:2147483645;
	pointer-events:none;
	padding:5px 8px 5px 8px;
	font-family:var(--system-fonts);
	background-color:rgba(0,0,0,0.75);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: opacity 0.1s ease-in 0s;
	-moz-transition: opacity 0.1s ease-in 0s;
	-ms-transition: opacity 0.1s ease-in 0s;
	-o-transition: opacity 0.1s ease-in 0s;
	transition: opacity 0.1s ease-in 0s;
}

app-tooltip[visible] {
	opacity:1;
	visibility:visible;
}

app-tooltip arrow {
	width:0;
	height:0;
	position:absolute;
	border:5px solid transparent;
}

app-tooltip[side='n'] arrow {
	bottom:-5px;
	left:50%;
	margin-left:-5px;
	border-bottom:none;
	border-top:5px solid rgba(0,0,0,0.75);
}

app-tooltip[side='s'] arrow {
	top:-5px;
	left:50%;
	margin-left:-5px;
	border-top:none;
	border-bottom:5px solid rgba(0,0,0,0.75);
}

app-tooltip[side='e'] arrow {
	top:50%;
	left:-5px;
	margin-top:-5px;
	border-left:none;
	border-right:5px solid rgba(0,0,0,0.75);
}

app-tooltip[side='w'] arrow {
	top:50%;
	right:-5px;
	margin-top:-5px;
	border-right:none;
	border-left:5px solid rgba(0,0,0,0.75);
}

app-tooltip[side='ne'] arrow {
	left:10px;
	bottom:-5px;
	border-bottom:none;
	border-top:5px solid rgba(0,0,0,0.75);
}

app-tooltip[side='nw'] arrow {
	right:10px;
	bottom:-5px;
	border-bottom:none;
	border-top:5px solid rgba(0,0,0,0.75);
}

app-tooltip[side='se'] arrow {
	top:-5px;
	left:10px;
	border-top:none;
	border-bottom:5px solid rgba(0,0,0,0.75);
}

app-tooltip[side='sw'] arrow {
	top:-5px;
	right:10px;
	border-top:none;
	border-bottom:5px solid rgba(0,0,0,0.75);
}
