<h1>pdf.js elements</h1>

<h2>PDF</h2>

<p>Render a PDF document in a canvas using PDF.js.</p>

<Example @name="demo-libraries-pdfjs-document.hbs">
	<div class="h-800">
		<Ascua::pdf @url={{root-url "/test.pdf"}} />
	</div>
</Example>