<h1>Tasks</h1>

<p>The tasks package makes it easy to write concise, robust, and beautiful asynchronous code. A task property, defined on a controller or a component, can enable complex task primitives which support cancellation, expose their underlying state, and with the ability to prevent multiple instances of the same running task</p>

<h2>Install</h2>

<Example @name="demo-guides-tasks-install.bash">
	ember install @ascua/tasks
</Example>