@include keyframes(bounce) {

	0%, 20%, 53%, 80%, 100% {
		@include animation-timing-function( cubic-bezier(0.215, 0.610, 0.355, 1.000) );
		@include transform( translate3d(0,0,0) );
	}

	40%, 43% {
		@include animation-timing-function( cubic-bezier(0.755, 0.050, 0.855, 0.060) );
		@include transform( translate3d(0, -30px, 0) );
	}

	70% {
		@include animation-timing-function( cubic-bezier(0.755, 0.050, 0.855, 0.060) );
		@include transform( translate3d(0, -15px, 0) );
	}

	90% {
		@include transform( translate3d(0,-4px,0) );
	}

}
