<h1>Gridlist</h1>

<p>The <code>Ascua::Gridlist</code> component adds functionality for working with lists and grids, enabling efficient incremental rendering of large numbers of items in list or grid format, with single click or double click support, and multi-selection support, whilst at the same time re-rendering when the viewport is resized. Each list or grid will display only the necessary number of items to fill the desired layout, rendering other items as and when they are scrolled into view.</p>

<h2>Installation</h2>

<Example @name="demo-elements-gridlist-install.bash">
	ember install @ascua/gridlist
</Example>

<h2>List view</h2>

<p>To create a list view, specify the <code>rowHeight</code> attribute. The <code>model</code> attribute defines the item content for the full list.</p>

<Example @name="demo-elements-gridlist-list.hbs">
	<div class="pos-r min-h-400">
		<Ascua::Gridlist @model={{this.items}} @rowHeight="80" as |model|>
			<div class="l">List item</div>
			<div class="r">{{model.id}}</div>
		</Ascua::Gridlist>
	</div>
</Example>

<h2>Grid view</h2>

<p>To create a grid view, specify both the <code>rowHeight</code> attribute, and the <code>colWidth</code> attribute. The <code>model</code> attribute defines the item content for the full list.</p>

<Example @name="demo-elements-gridlist-grid.hbs">
	<div class="pos-r min-h-400">
		<Ascua::Gridlist @model={{this.items}} @colWidth="140" @rowHeight="140" as |model|>
			<div class="l">Grid item</div>
			<div class="r">{{model.id}}</div>
		</Ascua::Gridlist>
	</div>
</Example>