<h1>Webview</h1>

<p>The <code>Ascua::Webview</code> component can be used to add scaled webviews to an Ember application, for preview, or embedding purposes.</p>

<h2>Installation</h2>

<Example @name="demo-elements-webview-install.bash">
	ember install @ascua/webview
</Example>

<h2>Preview webview</h2>

<p>To create a page thumbnail, specify the <code>width</code> and <code>height</code> of the thumbnail, and specify the url of the page using the <code>src</code> attribute.</p>

<Example @name="demo-elements-webview-basic.hbs">
	<Ascua::Webview @src="https://abcum.github.io/ascua/" @width="300px" @height="400px" />
</Example>

<h2>Custom device size</h2>

<p>To change the device width, with which the page is loaded, by specifying the <code>zoom</code> attribute.</p>

<Example @name="demo-elements-webview-zoom.hbs">
	<Ascua::Webview @src="https://abcum.github.io/ascua/" @zoom="1200" @width="300px" @height="400px" />
</Example>

<h2>Interactive webview</h2>

<p>To enable interactivity with the frame, you can specify the <code>interactive</code> attribute.</p>

<Example @name="demo-elements-webview-remote.hbs">
	<Ascua::Webview @src="https://abcum.github.io/ascua/" @zoom="480" @width="100%" @height="900px" @interactive={{true}} />
</Example>