app-iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	pointer-events:none;
	display:inline-block;
	background-color:#f5f5f5;
	background-repeat:no-repeat;
	background-position:50% 40%;
	-webkit-overflow-scrolling:touch;
}

app-iframe iframe {
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	overflow:hidden;
	position:absolute;
	vertical-align:top;
	pointer-events:none;
	-webkit-transform-origin:top left;
	-khtml-transform-origin:top left;
	-moz-transform-origin:top left;
	-ms-transform-origin:top left;
	-o-transform-origin:top left;
	transform-origin:top left;
}

app-iframe[interactive] iframe {
	pointer-events:auto;
}
