@include keyframes(headShake) {

	0% {
		@include transform( translateX(0) );
	}

	6.5% {
		@include transform( translateX(-6px) rotateY(-9deg) );
	}

	18.5% {
		@include transform( translateX(5px) rotateY(7deg) );
	}

	31.5% {
		@include transform( translateX(-3px) rotateY(-5deg) );
	}

	43.5% {
		@include transform( translateX(2px) rotateY(3deg) );
	}

	50% {
		@include transform( translateX(0) );
	}

}
