@include keyframes(shake) {

	0%, 100% {
		@include transform( translate3d(0, 0, 0) );
	}

	10%, 30%, 50%, 70%, 90% {
		@include transform( translate3d(-10px, 0, 0) );
	}

	20%, 40%, 60%, 80% {
		@include transform( translate3d(10px, 0, 0) );
	}

}
