:root {
	--bezier-timer:cubic-bezier(0.215,  0.610, 0.355, 1.000);
}

@keyframes image {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-o-keyframes image {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-ms-keyframes image {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes image {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes image {
	from { opacity: 0; }
	to { opacity: 1; }
}

app-image {
	border:0;
	display:block;
	overflow:hidden;
	position:relative;
	background-color:#f5f5f5;
}

app-image img {
	width:100%;
	height:100%;
	display:block;
	transform:scale(1);
}

app-image[lqip] img:nth-of-type(1) {
	z-index:1;
	-webkit-animation:blur(50px);
	-moz-animation:blur(50px);
	-ms-animation:blur(50px);
	-o-animation:blur(50px);
	filter:blur(50px);
}

app-image[lqip] img:nth-of-type(2) {
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2;
	position:absolute;
	-webkit-animation:image 1.5s var(--bezier-timer);
	-moz-animation:image 1.5s var(--bezier-timer);
	-ms-animation:image 1.5s var(--bezier-timer);
	-o-animation:image 1.5s var(--bezier-timer);
	animation:image 1.5s var(--bezier-timer);
}

app-image:not([lqip]) img {
	-webkit-animation:image 1.5s var(--bezier-timer);
	-moz-animation:image 1.5s var(--bezier-timer);
	-ms-animation:image 1.5s var(--bezier-timer);
	-o-animation:image 1.5s var(--bezier-timer);
	animation:image 1.5s var(--bezier-timer);
}
