<h1>big.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-bigjs-install.bash">
	ember install @ascua/big.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-bigjs-import.js">
	import Big from 'big.js';
</Example>