<h1>bignumber.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-bignumberjs-install.bash">
	ember install @ascua/bignumber.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-bignumberjs-import.js">
	import BigNumber from 'bignumber.js';
</Example>