<h1>decimal.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-decimaljs-install.bash">
	ember install @ascua/decimal.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-decimaljs-import.js">
	import Decimal from 'decimal.js';
</Example>