<h1>mapbox-gl.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-mapboxgl-install.bash">
	ember install @ascua/mapbox-gl.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-mapboxgl-import.js">
	import mapboxgl from 'mapbox-gl';
</Example>