<h1>pdf-lib.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-pdflib-install.bash">
	ember install @ascua/pdf-lib.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-pdflib-import.js">
	import PDFLib from 'pdf-lib';
</Example>