<h1>sheet.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-sheetjs-install.bash">
	ember install @ascua/sheet.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-sheetjs-import.js">
	import XLS from 'XLS';
	import XLSX from 'XLSX';
</Example>