<h1>stackdriver.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-stackdriverjs-install.bash">
	ember install @ascua/stackdriver.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-stackdriverjs-import.js">
	import StackdriverErrorReporter from 'stackdriver.js';
</Example>

<h2>Configuration</h2>

<p>The module can be configured by specifying a <code>stackdriver</code> property in <code>config/environment.js</code>.</p>

<Example @name="demo-libraries-stackdriverjs-environment.js">
	module.exports = function(environment) {
		let ENV = {
			stackdriver: {
				enabled: true,
				service: 'website',
				projectId: 'example',
				environments: ['production'],
				reportUncaughtExceptions: true,
				reportUnhandledPromiseRejections: true,
				key: 'my-very-private-google-api-key',
			}
		};
		return ENV;
	};
</Example>