<h1>zip.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-zipjs-install.bash">
	ember install @ascua/zip.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-zipjs-import.js">
	import JSZip from 'zip';
</Example>