@charset "UTF-8";

$arial: "Arial", sans-serif;

$times: "Times New Roman", Times, serif;

$verdana: "Verdana", "Geneva", sans-serif;

$georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;

$lucida: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;

$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

$monospace: "Menlo", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
