@charset "UTF-8";

$retina:				"only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

$portrait:				"(orientation:portrait)";
$landscape:				"(orientation:landscape)";

$ipad: 					"only screen and (min-device-width: 768px) and (max-device-width: 1024px)";

$iphone: 				"only screen and (min-device-width: 320px) and (max-device-width: 812px)";
$iphone4: 				"only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio : 1)";
$iphone5: 				"only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio : 2)";
$iphone6: 				"only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio : 2)";
$iphone6-plus:			"only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio : 3)";
$iphone7: 				"only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio : 2)";
$iphone7-plus:			"only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio : 3)";
$iphone8: 				"only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio : 2)";
$iphone8-plus:			"only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio : 3)";
$iphoneX: 				"only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio : 3)";
