<h1>facebook.js elements</h1>

<h2>Like</h2>

<p>Create a Facebook like button, and give it an optional <code>href</code> property.</p>

<p>You can customise the button with additional attributes including, <code>action</code>, <code>colorscheme</code>, <code>href</code>, <code>layout</code>, <code>lazy</code>, <code>ref</code>, <code>share</code>, <code>size</code>, and <code>width</code>.</p>

<p>See the <a href="https://developers.facebook.com/docs/plugins/like-button" rel="noopener noreferrer" target="_blank">Facebook documentation</a> for more information.</p>

<Example @name="demo-libraries-facebook-elements-like.hbs">
	<Ascua::Facebook::Like @href="https://facebook.com/apple" />
</Example>

<h2>Page</h2>

<p>Create a Facebook page button, and give it an <code>href</code> property.</p>

<p>You can customise the button with additional attributes including, <code>adapt_container_width</code>, <code>height</code>, <code>hide_cover</code>, <code>hide_cta</code>, <code>href</code>, <code>lazy</code>, <code>show_facepile</code>, <code>small_header</code>, <code>tabs</code>, and <code>width</code>.</p>

<p>See the <a href="https://developers.facebook.com/docs/plugins/page-plugin" rel="noopener noreferrer" target="_blank">Facebook documentation</a> for more information.</p>

<Example @name="demo-libraries-facebook-elements-page.hbs">
	<Ascua::Facebook::Page @href="https://facebook.com/apple" />
</Example>

<h2>Save</h2>

<p>Create a Facebook save button, and give it an optional <code>uri</code> property.</p>

<p>You can customise the button with additional attributes including, <code>lazy</code>, <code>size</code>, and <code>uri</code>.</p>

<p>See the <a href="https://developers.facebook.com/docs/plugins/save" rel="noopener noreferrer" target="_blank">Facebook documentation</a> for more information.</p>

<Example @name="demo-libraries-facebook-elements-save.hbs">
	<Ascua::Facebook::Save @uri="https://abcum.com" />
</Example>