<h1>facebook.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-facebookjs-install.bash">
	ember install @ascua/facebook.js
</Example>

<h2>Configuration</h2>

<p>The module can be configured by specifying a <code>facebook</code> property in <code>config/environment.js</code>.</p>

<Example @name="demo-libraries-facebookjs-environment.js">
	module.exports = function(environment) {
		let ENV = {
			facebook: {
				xfbml: 1,
				version: 'v9.0',
				autoLogAppEvents: true,
				appId: '123456789012345',
			}
		};
		return ENV;
	};
</Example>