app-droppable {
	width:100%;
	height:100%;
	display:block;
	cursor:pointer;
	position:relative;
	text-align:center;
	background-position:center;
	background-repeat:no-repeat;
	background-size:calc(100%/4);
	background-color:transparent;
	background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzIgMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxwYXRoIHN0eWxlPSJmaWxsOnJnYmEoMCwwLDAsMC4xKTsiIGQ9Ik0yNy41ODYsMTIuNzEyQzI2LjY2LDEwLjI1MSwyNC4yODQsOC41LDIxLjUsOC41Yy0wLjY0MSwwLTEuMjYsMC4wOTMtMS44NDYsMC4yNjYgQzE4LjA2OCw2LjIwNSwxNS4yMzMsNC41LDEyLDQuNWMtNC45MDQsMC04Ljg5NCwzLjkyNC04Ljk5OCw4LjgwM0MxLjIwNywxNC4zNDIsMCwxNi4yODMsMCwxOC41YzAsMy4zMTIsMi42ODgsNiw2LDZoNnYtMkg1Ljk5NyBDMy43OTQsMjIuNSwyLDIwLjcwOSwyLDE4LjVjMC0xLjg5MywxLjMxNy0zLjQ4MiwzLjA4Ny0zLjg5NkM1LjAyOSwxNC4yNDUsNSwxMy44NzYsNSwxMy41YzAtMy44NjYsMy4xMzQtNyw3LTcgYzMuMTYyLDAsNS44MzQsMi4wOTcsNi43MDIsNC45NzVjMC43NjktMC42MTEsMS43MzktMC45NzUsMi43OTgtMC45NzVjMi4zMTYsMCw0LjIyNSwxLjc1LDQuNDczLDRoMC4wMyBjMi4yMDMsMCwzLjk5NywxLjc5MSwzLjk5Nyw0YzAsMi4yMDUtMS43ODksNC0zLjk5Nyw0SDIwdjJoNmMzLjMxMiwwLDYtMi42OTMsNi02QzMyLDE1LjczNSwzMC4xMywxMy40MDcsMjcuNTg2LDEyLjcxMnoiLz4KCTxwb2x5Z29uIHN0eWxlPSJmaWxsOnJnYmEoMCwwLDAsMC4xKTsiIHBvaW50cz0iMTYsMTMuNSAxMSwxOS41IDE0LDE5LjUgMTQsMjcuNSAxOCwyNy41IDE4LDE5LjUgMjEsMTkuNSIvPgo8L3N2Zz4=");
}

app-droppable * {
	pointer-events:none;
}

app-droppable input {
	display:none;
}

app-droppable:hover:after {
	outline:5px dashed rgb(91, 246, 255);
}

app-droppable[dropping]:after {
	outline:5px dashed rgb(145, 255, 91);
}

app-droppable:hover:after, app-droppable[dropping]:after {
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	content:"";
	display:block;
	position:absolute;
	pointer-events:none;
	outline-offset:-15px;
}
