@charset "UTF-8";

@mixin image-rendering($mode:auto) {

	@if ($mode == crisp-edges) {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: crisp-edges;
	} @else {
		image-rendering: $mode;
	}

}
