@charset "UTF-8";

@function media-replace($string) {

	// ----------------------------------------------------------------------

	$string: str-replace($string, "iphoneX", $iphoneX);
	$string: str-replace($string, "iphone8-plus", $iphone7-plus);
	$string: str-replace($string, "iphone8", $iphone7);
	$string: str-replace($string, "iphone7-plus", $iphone7-plus);
	$string: str-replace($string, "iphone7", $iphone7);
	$string: str-replace($string, "iphone6-plus", $iphone6-plus);
	$string: str-replace($string, "iphone6", $iphone6);
	$string: str-replace($string, "iphone5", $iphone5);
	$string: str-replace($string, "iphone4", $iphone4);
	$string: str-replace($string, "iphone", $iphone);

	// ----------------------------------------------------------------------

	$string: str-replace($string, "ipad", $ipad);

	// ----------------------------------------------------------------------

	@if not str-index($string, " ") and not str-index($string, ":") {

		$string: str-replace($string, "landscape", "#{$landscape}");
		$string: str-replace($string, "portrait", "#{$portrait}");

	}

	// ----------------------------------------------------------------------

	@if not str-index($string, " ") and not str-index($string, ":") {

		@if str-index($string, "min-width-") {
			$nstr: str-replace($string, "min-width-", "min-width:");
			$string: "(#{$nstr}px)";
		}

		@if str-index($string, "max-width-") {
			$nstr: str-replace($string, "max-width-", "max-width:");
			$string: "(#{$nstr}px)";
		}

		@if str-index($string, "min-height-") {
			$nstr: str-replace($string, "min-height-", "min-height:");
			$string: "(#{$nstr}px)";
		}

		@if str-index($string, "max-height-") {
			$nstr: str-replace($string, "max-height-", "max-height:");
			$string: "(#{$nstr}px)";
		}

	}

	// ----------------------------------------------------------------------

	@return $string;

}
