<Ascua::Render />

<section class="head">
	<Head />
</section>

<section class="body">

	<section class="side l">
		<Side />
	</section>

	<section class="main">
		{{outlet}}
	</section>

	<section class="side r">

	</section>

</section>