<h1>Setup</h1>

<a href="https://circleci.com/gh/abcum/ascua"><img src="https://img.shields.io/circleci/project/github/abcum/ascua.svg?style=flat-square" /></a>
<a href="https://www.npmjs.com/package/@ascua/core"><img src="https://img.shields.io/npm/v/@ascua/core.svg?style=flat-square" /></a>
<a href="https://david-dm.org/abcum/ascua"><img src="https://david-dm.org/abcum/ascua/status.svg?style=flat-square" /></a>
<a href="https://david-dm.org/abcum/ascua?type=dev"><img src="https://david-dm.org/abcum/ascua/dev-status.svg?style=flat-square" /></a>
<a href="https://github.com/abcum/ascua"><img src="https://img.shields.io/badge/license-MIT-00bfff.svg?style=flat-square" /></a>