<h1>Packages</h1>

<Package @name="apexcharts.js" @text="" />
<Package @name="bigdata" @text="" />
<Package @name="chart.js" @text="Enables chart implementation" />
<Package @name="clock" @text="The @ascua/clock package adds functionality for getting the current system time, for use in computed properties to update time sensitive values." />
<Package @name="codemirror.js" @text="" />
<Package @name="core" @text="" />
<Package @name="decorators" @text="" />
<Package @name="dropdown" @text="" />
<Package @name="droppable" @text="" />
<Package @name="editable" @text="" />
<Package @name="electron" @text="" />
<Package @name="fastboot" @text="" />
<Package @name="fetch" @text="" />
<Package @name="gravatar" @text="" />
<Package @name="gridlist" @text="" />
<Package @name="helpers" @text="" />
<Package @name="iframe" @text="" />
<Package @name="images" @text="" />
<Package @name="initials" @text="" />
<Package @name="input" @text="" />
<Package @name="internet" @text="" />
<Package @name="keyboard" @text="" />
<Package @name="label" @text="" />
<Package @name="location" @text="" />
<Package @name="mapbox.js" @text="" />
<Package @name="marked.js" @text="" />
<Package @name="metrics" @text="" />
<Package @name="minify" @text="" />
<Package @name="modal" @text="" />
<Package @name="modifiers" @text="" />
<Package @name="moment.js" @text="" />
<Package @name="resize" @text="" />
<Package @name="routing" @text="" />
<Package @name="scrollup" @text="" />
<Package @name="select" @text="" />
<Package @name="server" @text="" />
<Package @name="sheet.js" @text="" />
<Package @name="social" @text="" />
<Package @name="storage" @text="" />
<Package @name="stripe.js" @text="" />
<Package @name="tooltip" @text="" />
<Package @name="update" @text="" />
<Package @name="webapp" @text="" />
<Package @name="webview" @text="" />
<Package @name="worker" @text="" />