<h1>moment.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-momentjs-install.bash">
	ember install @ascua/moment.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-momentjs-import.js">
	import Moment from 'moment';
</Example>