<h1>day.js</h1>

<h2>Installation</h2>

<Example @name="demo-libraries-dayjs-install.bash">
	ember install @ascua/day.js
</Example>

<h2>Module</h2>

<Example @name="demo-libraries-dayjs-import.js">
	import dayjs from 'dayjs';
</Example>